streamlit>=1.28.0
pandas
numpy
scipy
smart_open
scikit-learn
plotly
bertopic
sentence-transformers
umap-learn
hdbscan
transformers
torch
wordcloud
matplotlib
Cython
gensim
streamlit-lottie>=0.0.5
requests